34.228.223.158.sslip.io {
  encode gzip zstd

  handle /api/* {
    reverse_proxy backend:4000
  }

  handle /health {
    reverse_proxy backend:4000
  }

  handle {
    respond "StarVNT backend API is running" 200
  }
}
